.layout {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
}

.header {
	grid-column: 1 / 3;
}

.link {
	padding-left: 0.5rem;
	border-left-width: 3px;
	border-left-color: transparent;
}

.link:hover,
.active {
	background: rgba(var(--muted-color), 0.1);
	border-left-color: rgba(var(--accent-color));
}
