{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 80,
	"singleAttributePerLine": true,

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/hooks/(.*)$",
		"^@/components/(.*)/hooks/(.*)$",
		"^@/components/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/api/(.*)$",
		"^@/services/(.*)$",
		"^@/constants/(.*)$",
		"^@/types/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.css)$"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
