{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 90,

	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/api/(.*)$",
		"^@/services/(.*)$",
		"^@/constants/(.*)$",
		"^@/types/(.*)$",
		"^@/hooks/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.css)$"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
