@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
	--background-color: #ffffff;
	--primary-color: #1a73e8;
	--secondary-color: #e8f0fe;
	--text-color: #202124;
	--border-color: #dadce0;
	--accent-color: #34a853;
	--danger-color: #ea4335;
}

html.dark {
	--background-color: #202124;
	--primary-color: #8ab4f8;
	--secondary-color: #303134;
	--text-color: #e8eaed;
	--border-color: #5f6368;
	--accent-color: #34a853;
	--danger-color: #ea4335;
}
